{% extends "layout.html" %}

    {% block form %}
        <input type="text" name="USER-ID" class="register" placeholder="USER-ID"/>
        <input type="text" name="username" class="register" placeholder="Username"/>
        <input type="number" name="duration" class="register" placeholder="Duration"/>
        <input type="text" name="request" class="register" placeholder="Username" value="Request"/>
        <input type="text" name="agreement" id="terms" class="register" placeholder="Terms of Agreement"/>
        <button type="submit">REQUEST</button>
    {% endblock %}