<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css' )}}" />

    <title>Document</title>
</head>

<body>
    <form method="post" action="#" id="login">
        <img src="{{url_for("static", filename="hb3.png" )}}" />
        <input type="text" name="user-id" id="" class="register">
        <input type="password" name="password" id="" class="register">
        <button type="submit" class="submit">Confirm</button>
    </form>
</body>

</html>