{% extends "layout.html" %}

    {% block form %}
        <input type="text" name="farmer-id" class="register" placeholder="farmer-id"/>
        <input type="text" name="buyer-id" class="register" placeholder="buyer-id"/>
        <input type="text" name="crop" class="register" placeholder="crop"/>
        <input type="number" name="quantity" class="register" placeholder="quantity"/>
        <input type="number" name="price" class="register" placeholder="price"/>
        <button type="submit">REQUEST</button>
    {% endblock %}